<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TODO MVC</title>
	<link rel='stylesheet' href='/webjars/bootstrap/4.5.3/css/bootstrap.min.css'>
	<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Itim&display=swap"> 
	<link rel='stylesheet' href='/site.css'>
</head>
<body>
	<div class="container-fluid d-flex justify-content-center">
		<div class="card w-75">
			<h1 class="card-header text-center">TODO MVC</h1>
			<div class="card-body">
				<form class="">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="What are you up to?" required autofocus>
						<div class="input-group-append">
							<button class="btn btn-outline-primary">Submit</button>
						</div>
					</div>
				</form>
				<br>
				<table>
				</table>
			</div>
		</div>
	</div>
</body>
</html>